body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
  font-size: 14px;
  margin: 0;
  /* width: 1200px; */
}

.wrapper {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main content */

.main-content {
  width: 100%;
  padding: 44px 0px 44px 88px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  /* line-height: 27px; */
  color: #000000;
  margin: 0 0 16px 0;
}

/* About me */

.about-me-container {
  margin-bottom: 20px;
}

.my-profession {
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  color: #ffa200;
  margin: 0 0 18px 0;
}
.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}
.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  width: 700px;
}

/* Projects */

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-item:not(:last-child) {
  margin-bottom: 10px;
}

.project-list {
  padding: 0 0 0 16px;
  margin: 0;
}

.projects-container {
  margin: 0 0 24px 0;
}
.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ffa200;
}

/* Work Exp Block */

.work-experience-container {
  margin: 0 0 24px 0;
}

.work-experience-position {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.work-experience-place {
  margin: 0 0 16px 0;
}

.work-experience-company {
  margin: 0;
  font-size: 14px;
  margin-top: 8px;
  color: #ffa200;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 8px 0;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.work-duties-list {
  padding: 0;
  margin: 0 0 0 16px;
}

/* Education */

.education-container {
  margin: 24px 0 0 0;
}

.education-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #312d2d;
  margin: 0;
}

.education-place {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffa200;
  margin: 20px 0;
}

.education-spec {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.education-duration {
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 0 0;
}

/* Sidebar */

.sidebar {
  flex-shrink: 0;
  width: 370px;
  background: #333132;
}

.my-photo {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contacts-container,
.tech-skills-container {
  margin: 20px 0 0 40px;
}

.sidebar-title {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 8px;
}
.sidebar-title-img {
  position: absolute;
  left: -30px;
  top: 2px;
}

/* Contacts-type */
.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-item:not(:last-child) {
  margin-top: 5px;
}

.contacts {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.contact-town {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.contacts-number {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  text-decoration: none;
}

.contacts-email {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  text-decoration: none;
}

.contacts-linkedin {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.contacts-github {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.contacts-telegram {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.contacts:hover {
  color: #ffa200;
}

/* Skills */

.skills-list {
  margin: o;
  padding: 0 0 0 20px;
}

.skills-list-item {
  color: #ffa200;
}

.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* Soft skills */

.soft-skills-list {
  margin: o;
  padding: 0 0 0 20px;
}
.soft-list-item {
  color: #ffa200;
}
.soft-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/**---------------------NEW EDITS------------------------ */

.project-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  width: 525px;
  margin: 0;
  margin-top: 5px;
}

/* _____________-----------NEW-----------___________ */
.thumb {
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 50%;
  border: 2px solid #ffa200;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.sidebar-title::after {
  content: '';
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #ffa200;
  left: 0;
}

.sidebar-title-languages::after {
  bottom: -1px;
}

.contacts-container {
  padding-left: 30px;
}
.tech-skills-container {
  padding-left: 30px;
}

.main-content-title::after {
  content: '';
  display: block;
  background-color: #ffa200;
  height: 2px;
  width: 100%;
  top: 10px;
}

.education-title::after {
  content: '';
  display: block;
  background-color: #ffa200;
  height: 2px;
  width: 100%;
  top: 10px;
}

.phone-span {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffa200;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.icon-social {
  fill: #fff;
  stroke: #fff;
}

.icon-main {
  fill: #000;
  stroke: #000;
}

.svgspan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background-color: #ffa200;
  border-radius: 50%;
}

.svgglobal {
  fill: #ffa200;
  position: absolute;
  left: -35px;
  top: -5px;
}

.svgmainspan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffa200;
  border-radius: 50%;
}

.contacts-svg {
  left: -35px;
  top: 0px;
}

.sidebar-soft-title-img {
  left: -26px;
}
